<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">

<head>
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="icon" href="favicon.ico" />
	<title>النتيجة</title>
	 <meta property="og:image" content="{{img}}" /> 	  
	   <meta property="og:title" content=" انت مثل {{titr}}" /> 
	    <meta property="og:description" content="{{tex}}" /> 
	 
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<script src="javascript/script mobile.js"></script>
</head>

<body onload="init()" onresize="detectwindow()">



	<div id="page-wrap" class="d-flex justify-content-center" >
          
		<div id="im1" class="fixed-bottom" style="display: none; width: 27% ;right: 1%; bottom :1%; height: 45%;">
		 <a target="_blank" href="https://play.google.com/store/apps/details?id=com.Bnight.Tajine">
		<img src="ads/tajin 4.PNG" class="rounded float-right" style="width: 100% ;height: 100%;">
		</a>
		</div>	

		<div id="im4" class="fixed-bottom" style="height: 20%;">
		 <a target="_blank" href="https://play.google.com/store/apps/details?id=com.Bnight.Tajine">
		<img src="ads/road tajin 5.PNG" class="rounded float-left" style="width: 100% ;height: 100%;">
		</a>
		</div>
				<div id="im3" class="fixed-top" style="display: none; width: 27% ;right: 1%; top :1%;height: 45%;">
		 <a target="_blank" href="https://play.google.com/store/apps/details?id=com.Bnight.Tajine">
		<img src="ads/bnight 2.PNG" class="rounded float-right" style="width: 100% ;height: 100%;">
		</a>
		</div>	

		<div id="im2" class="fixed-top" style="display: none; width: 27% ;left: 1%;right: auto; top :1%;height: 45%;">
		 <a target="_blank" href="https://play.google.com/store/apps/details?id=com.Bnight.Tajine">
		<img src="ads/bnighte 1.PNG" class="rounded float-left" style="width: 100% ;height: 100%;">
		</a>
		</div>		
       
	   {{{body}}}
	
</div>
	
</body>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</html>