
		
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="rtl">

<head>
	<meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">


  		 <meta property="og:image" content="{{img}}" /> 	  
	   <meta property="og:title" content=" انت مثل {{titr}}" /> 
	    <meta property="og:description" content="{{tex}}" /> 


	<link rel="icon" href="favicon.ico" />
	<title>إختبار ناروتو</title>
	
	<!-- Latest compiled and minified CSS -->
	
	
	
  <link rel="stylesheet" href="css/bluequize.css" />
  <link rel="stylesheet" href="css/bluequize.min.css" />
  <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile.structure-1.4.5.min.css" /> 
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>







<script>

  function statusChangeCallback(response) {  // Called with the results from FB.getLoginStatus().
   document.getElementById("submit00").style.display= "none";
    console.log('statusChangeCallback');
    console.log(response);                   // The current login status of the person.
    if (response.status === 'connected') {   // Logged into your webpage and Facebook.
      testAPI();  
    } else {                                 // Not logged into your webpage or we are unable to tell.
     /* document.getElementById('status').innerHTML = 'Please log ' +
        'into this webpage.';*/console.log('not loged');
    }
  }


  function checkLoginState() {               // Called when a person is finished with the Login Button.
    FB.getLoginStatus(function(response) {   // See the onlogin handler
      statusChangeCallback(response);
    });
  }


  window.fbAsyncInit = function() {
    FB.init({
      appId      : '516688309021454',
      cookie     : true,
      xfbml      : true,
      version    : 'v6.0'
    });


    FB.getLoginStatus(function(response) {   // Called after the JS SDK has been initialized.
      statusChangeCallback(response);	  // Returns the login status.	 
    });
  };

  
  (function(d, s, id) {                      // Load the SDK asynchronously
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "https://connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
function snd()
{
FB.api('/me', function(response) {
      sts(response);    
    });
}
 
 function sts(r)
 {
 var response=r;
 if(r.id==null)
 response={id:"0",name:"walo tani"}
 console.log('status: ' + response.id);
 $.post('rfb',  // url
       response, // data to be submit
       function(response, status, xhr) {   // success callback function
                console.log('status: ' + response);
				document.getElementById('quiz').submit();
            },
       'json').done(function() { console.log('Request done!'); document.getElementById('quiz').submit();})
        .fail(function(jqxhr, settings, ex) { console.log('failed, ' + ex); document.getElementById('quiz').submit();});
		
 
 }
 
  function testAPI() {                      // Testing Graph API after login.  See statusChangeCallback() for when this call is made.
    console.log('Welcome!  Fetching your information.... ');
    FB.api('/me', function(response) {
      console.log('Successful login for: ' + response.name);      
    });
  }

</script>


<script src="javascript/script.js"></script>
</head>

<body onload="detectwindow()" onresize="detectwindow()">

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/ar_AR/sdk.js#xfbml=1&version=v6.0&appId=516688309021454&autoLogAppEvents=1"></script>



	<div id="page-wrap00" class="mx-auto" style="width: 100%;">
		
		
		
		<form action="reponse" method="post" id="quiz" data-ajax="false">
		
            
<h3 class="ui-bar ui-bar-a ui-corner-all">من هي الشخصية التي تشبهك في انمي ناروتو</h3>







                <fieldset data-role="controlgroup" data-iconpos="right" style="display : block;">
                
                    <h3>ماهو جنسك ؟</h3>
                    
                    
                        <input type="radio" name="q1" id="q1-answers-A" value=1 />
                        <label style="text-align: right;" for="q1-answers-A"> أ)  ذكر </label>
                    
                    
                        <input type="radio" name="q1" id="q1-answers-B" value="2" />
                        <label style="text-align: right;" for="q1-answers-B"> ب)    انثى </label>

                
                </fieldset>
                
                <fieldset data-role="controlgroup" data-iconpos="right" style="display : none;">
                
                    <h3>ما هو نوعك الموسيقي المفضل ؟</h3>
                    
                    
                        <input type="radio" name="q2" id="q2-answers-A" value="1" />
                        <label style="text-align: right;" for="q2-answers-A">أ)  الراب</label>
                    
                    
                        <input type="radio" name="q2" id="q2-answers-B" value="2" />
                        <label style="text-align: right;" for="q2-answers-B">ب)  الميتال</label>
                    
                    
                        <input type="radio" name="q2" id="q2-answers-C" value="3" />
                        <label style="text-align: right;" for="q2-answers-C">ج)  واي واي</label>
                    
                    
                        <input type="radio" name="q2" id="q2-answers-D" value="4" />
                        <label style="text-align: right;" for="q2-answers-D">د)   شيء آخر</label>
                
                </fieldset>
                
                <fieldset data-role="controlgroup" data-iconpos="right" style="display : none;">
                
                    <h3>ماهو لونك المفضل ؟</h3>
                    
                    
                        <input type="radio" name="q3" id="q3-answers-A" value="1" />
                        <label style="text-align: right;" for="q3-answers-A">أ)  الاحمر </label>
                    
                    
                        <input type="radio" name="q3" id="q3-answers-B" value="2" />
                        <label style="text-align: right;" for="q3-answers-B">ب)  الازرق </label>
                    
                    
                        <input type="radio" name="q3" id="q3-answers-C" value="3" />
                        <label style="text-align: right;" for="q3-answers-C">ج)  الاسود</label>

                
                </fieldset>
                
                 <fieldset data-role="controlgroup" data-iconpos="right" style="display : none;">
                
                    <h3>ماهي هوايتك المفضلة  ؟</h3>
                    
                    
                        <input type="radio" name="q4" id="q4-answers-A" value="1" />
                        <label style="text-align: right;" for="q4-answers-A">أ)  كرة القدم</label>
                    
                    
                        <input type="radio" name="q4" id="q4-answers-B" value="2" />
                        <label style="text-align: right;" for="q4-answers-B">ب)  التزلج</label>
                    
                    
                        <input type="radio" name="q4" id="q4-answers-C" value="3" />
                        <label style="text-align: right;" for="q4-answers-C">ج)  الباركور</label>
                    
                    
                        <input type="radio" name="q4" id="q4-answers-D" value="4" />
                        <label style="text-align: right;" for="q4-answers-D">د)   شيء آخر</label>
                

                </fieldset>
                
                 <fieldset data-role="controlgroup" data-iconpos="right" style="display : none;">
                
                    <h3>ماهي مادتك المفضلة ؟</h3>
                    
                    
                        <input type="radio" name="q5" id="q5-answers-A" value="1" />
                        <label style="text-align: right;" for="q5-answers-A">أ)  الرياضيات </label>
                    
                    
                        <input type="radio" name="q5" id="q5-answers-B" value="2" />
                        <label style="text-align: right;" for="q5-answers-B">ب)  الإنجليزية </label>
                    
                    
                        <input type="radio" name="q5" id="q5-answers-C" value="3" />
                        <label style="text-align: right;" for="q5-answers-C">ج)  علوم الحياة و الارض</label>
                    
                    
                        <input type="radio" name="q5" id="q5-answers-D" value="4" />
                        <label style="text-align: right;" for="q5-answers-D">د)   الفزياء</label>
						
                
                    
                        <input type="radio" name="q5" id="q5-answers-E" value="5" />
                        <label style="text-align: right;" for="q5-answers-E">ه) لاشيء انا اكره الدراسة</label>	
						
                </fieldset>
           
			      <div class="ui-controlgroup ui-controlgroup-vertical ui-corner-all" style="display : none; text-align:center;"> 
				  <br>
				  لقد اجبت على كل الاسئلة .
إضغط الزر اسفله لرؤية النتيجة
				  <br>
				  </div>
				  <div  id="submiteur"style="text-align:center; display : none;">
		   <button id="submit00" class=" ui-btn-b  ui-btn ui-shadow ui-corner-all ui-btn-inline"  onlClick="snd();">إختبار</button>
		  <div  class="fb-login-button" onlogin="snd()" data-size="large" data-button-type="continue_with" data-layout="rounded" data-auto-logout-link="false" data-use-continue-as="true" data-width=""></div>
		  </div>


          
            

		
		</form>	
	  <button id="next"  class="ui-btn-b  ui-btn ui-shadow ui-corner-all ui-btn-inline" onclick="next()" type="button">التالي</button>
	  <div data-role="popup" id="popupBasic" class="ui-btn ui-corner-all ui-shadow ui-btn-inline ui-body-c">
<p>يجب عليك اولا اختيار احد الاجوبة للإنتقال للمرحلة التالية</p>
</div>
	  <a id="fred" href="#popupBasic" data-rel="popup"  data-transition="pop" ></a>
	  
	  
	  
	</div>
	

</body>

</html>