



 
 <div id="page-wrap00" class="mx-auto" style="width: 100%;">

		 <div class="shadow-none p-3 mb-5  rounded" style="text-align: center;background-color: #163d64;"><b style="color: white;">النتيجة</b></div>
		
       <div id="page-wrap" class="card" >
	   

 <img id="img" src="{{img}}" class="card-img-top"> 
 
 <div class="card-body" style="text-align: center;">
 <h5 id="ttr" class="card-title">انت مثل  {{titr}}</h5><p id="results" class="card-text">
 {{tex}}
 </p>

    <a target="_blank" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fus-central1-bnight.cloudfunctions.net%2FNaruto_test%2Freponse{{params}} " class="btn btn-primary">انشر على  <b>facebook</b></a>
 <br><br>
إضغط
<a href="https://us-central1-bnight.cloudfunctions.net/Naruto_test/">
 هنا 
</a>
من اجل إعادة الإختبار
 </div>
	
</div>