/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

/*					{ margin: 0; padding: 0; }*/
body				{
    
    background-color: #ff00ff2b;
}
#quiz input[type=submit] {
    background-color: #f07575;
width: 100px;
height: 30px;
}

#page-wrap		    {
    width: 500px;
    margin: 0 auto;
    background-color: #a1deec;
    box-shadow: 0 3px 4px 0 rgb(240, 9, 9),0 3px 3px -2px rgba(249, 7, 7, 0.12),0 1px 8px 0 rgb(221, 11, 11);
}

h1                  { margin: 25px 0;  Georgia, Serif; text-transform: uppercase;  padding:20px 20px 0px 0px }

#quiz input {
    vertical-align: middle;
}

#quiz ol {
   margin: 0 0 10px 20px;
}

#quiz ol li {
   margin: 0 0 20px 0;
}

#quiz ol li div {
   padding: 4px 0;
}

#quiz h3 {
   font-size: 17px; margin: 0 0 1px 0; color: #666;
}

#results {
    font: 44px Georgia, Serif;
}